.login-page {
    padding: 2% 20%;
    background-color: antiquewhite;
    background-image: url("../../../public/images/background.png");
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 2rem 8rem;
    border-radius: 12px;
    text-align: center;
}

.input-custom {
    height: 44px;
    border-radius: 12px;
}

.button-custom {
    background-color: var(--primary-color);
    width: 40%;
    height: 44px;
    border-radius: 12px;
}

img {
    object-fit: cover;
}

h1 {
    font-size: 32px;
}

.form-item-custom {
    margin-bottom: 5px;
}