/* Scrollbar.css */

.simplebar-content-wrapper {
  overflow: hidden;
  width: auto !important;
}

.simplebar-track.simplebar-vertical {
  width: 10px !important;
  background-color: transparent !important;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 6px !important;
  background-color: transparent !important;
}

.simplebar-mask {
  z-index: inherit !important;
}
