.title {
  text-align: center;
}

.colTable {
  padding: 15px;
}

.modal {
  text-align: center;
}

.formUpdate {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formUpdate > .ant-form-item {
  display: flex;
  align-items: space-between;
  margin-bottom: 0 !important; /* space between form items */
}

.btnSubmit:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: 1px solid var(--primary-color) !important;
}

.inputLabel {
  flex: 0.7;
}

.label {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inputLabel input {
  width: 100%;
  text-align: left;
}
