.about-img {
  position: relative;
  padding: 50px;
  background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/140127103345-peninsula-shanghai-deluxe-mock-up.jpg?q=w_2226,h_1449,x_0,y_0,c_fill'); /* Add your background image */
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: 1;
}

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(88, 88, 88, 0.6);
  padding: 1% 10%;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
}

.content h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content h3 {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.intro {
  font-size: 1.125rem;
  margin-bottom: 20px;
  text-align: justify;
}

.content img {
  width: 100px;
  height: 100px;
}
