.form {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 50px 0;
}

.formLeft,
.formRight {
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  padding: 20px;
}

.formLeft {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formRight {
  flex: 0.4;
}

.formLeftTop {
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  padding: 15px;
}

.formLeftTop > h4,
.formRight > h4,
.formRightService > h4 {
  border-bottom: 1px solid var(--hr-color);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.formLeftTop > ul > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 15px;
}

.formLeftTop > ul > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 15px;
}

.formLeftBottom {
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  padding: 15px;
}

.formLeftBottom > h4,
.formRightOrder > h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.formRadio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRadio > .radio {
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}
.formRadio > .radio:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
}

.formRadio > .checked {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
}

.formRadio > .btnPay {
  padding: 13px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background-color: var(--primary-color);
}

.formRadio > .checkbox {
  justify-content: center;
}

.formRightRom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
}

.imageroom {
  width: 150px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.formRightRom > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formRightRom > div > h4 {
  font-size: 17px;
  padding-bottom: 5px;
}

.formRightService {
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.formService {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  gap: 10px;
  width: 100%;
}

.listService {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.quantityService {
  width: 50px;
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.checkboxGroup {
  width: 100% !important;
}

.checkboxService {
  width: 250px !important;
}

.priceOfService {
  width: 100px !important;
}

.formRightOrder {
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  padding: 15px;
}

.formRightOrder > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  font-size: 16px;
}

.formRightOrder > div:nth-child(3) {
  border-bottom: 1px solid var(--hr-color);
  margin-bottom: 10px;
}

.totalPrice {
  font-weight: bold;
}

.errorCheckbox {
  color: rgb(255, 255, 255);
  background-color: red;
}

.logoBank {
  width: 80px;
  height: 80px;
  object-fit: fill;
  background-color: black !important;
}

.menuBank {
  left: 240px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 1054px) {
  .form {
    flex-direction: column;
  }
}

@media (max-width: 428px) {
  .formLeftTop > ul > div:nth-child(1),
  .formLeftTop > ul > div:nth-child(2) {
    flex-direction: column;
    gap: 10px;
  }
}
