.footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  line-height: 30px;
  background-color:white;
  color: black;
  position: relative;
  bottom: 0;


}

.footerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 15px;
  border-top: 1px solid rgb(212, 209, 209);
  margin: 0 50px;
}

.footerTop > div {
  display: flex;
  align-items: center;
}
.footerTop > div > img {
  width: 100px;
}

.footerTop > div > ul > li {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.footerBottom {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
}

.icons {
  font-size: 40px !important;
  color: white;
}

@media (max-width: 1111px) {
}

@media (max-width: 888px) {
  iframe {
    display: none;
  }
}
