.room-list-head {
  cursor: pointer;
  display: inline-block;
}

.room-list-head.active {
  font-weight: bold;
}

.room-list-table .ant-table-thead > tr > th {
  background-color: rgb(208, 242, 255);
}
