.site-layout-content {
  padding: 24px;
  background: white;
  height: 100vh;
}

.title {
  font-weight: bold;
}

.add-button {
  background-color: #00ab55;
  border-color: #00ab55;
}

.search-input {
  margin-bottom: 16px;
  width: 100%;
}

.table-row-light {
  background-color: rgb(255, 247, 205);
}

.table-row-dark {
  background-color: #fff;
}
