.tabs .ant-tabs-nav-list {
  gap: 60px;
}

.card {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
}

.title {
  font-weight: 600;
  margin: 0;
  display: inline;
}

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  padding: 28px;
}

.container {
  min-height: 70vh !important;
  /* min-height: 100vh !important; */
}

.listService {
  display: flex !important;
  flex-direction: column !important;
  gap: 5px;
}

.contentService {
  padding: 0 !important;
  margin: 0 !important;
}
